Description=commander

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/bin/sh -c '/usr/bin/java -jar /home/pirate/docker-camera-master/commander/commander-master/target/commander-1.0.0.jar > /home/pirate/docker-camera/log/commander.log'
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target